<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yonyoucloud.fi.cmp.mapper.BalanceAdjustResultMapper">

    <select id="queryBankreconciliationscheme" parameterType = "com.yonyoucloud.fi.cmp.newapi.ctmrpc.vo.balanceadjust.BalanceAdjustQueryVO" resultType="java.util.HashMap">
        select  seth.id as id,seth.bankreconciliationschemecode as bankreconciliationschemecode,seth.reconciliationdatasource as reconciliationdatasource,seth.enableDate as enableDate,seth.accentity as accentity,
               setb.currency as currency,setb.bankaccount as bankaccount,setb.acc_book as accbook_b,setb.enable_status as enableStatus_b,setb.use_org as useorg,setb.accentity_raw as accentityRaw
        from cmp_bankreconciliationsetting_b setb left join cmp_bankreconciliationsetting seth on setb.mainid=seth.id
        where
        setb.ytenant_id = #{ytenant_id}
        <if test = "accbookList !=null">
            and setb.acc_book in
            <foreach item="item" index="index" collection="accbookList" open="("
                     separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test = "bankaccountList !=null">
            and setb.bankaccount in
            <foreach item="item" index="index" collection="bankaccounts" open="("
                     separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test = "currencyList !=null">
            and setb.currency in
            <foreach item="item" index="index" collection="currencys" open="("
                     separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test = "accentityList !=null">
            and setb.use_org in
            <foreach item="item" index="index" collection="accentityList" open="("
                     separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test = "reconciliationdatasource !=null">
            and  seth.reconciliationdatasource = #{reconciliationdatasource}
        </if>
        <if test = "reconciliationdatasource == null">
            and  seth.reconciliationdatasource = 1
        </if>
        <if test = "enableDate !=null">
            and  seth.enableDate &lt;= CAST(#{enableDate} AS DATE)
        </if>
        <if test = "stopDate !=null">
            and  (setb.enable_date &gt;= CAST(#{stopDate} AS DATE) or setb.enable_date is null)
        </if>
    </select>



</mapper>
