<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yonyoucloud.fi.cmp.mapper.BankAccountBalanceMapper">

    <update id="deleteByCheckTask" parameterType="java.util.HashMap" >
        delete  from  cmp_bankaccount_realtimebalance
        <where>
            balancedate &gt;= #{startDate}  and balancedate  &lt;= #{endDate}
            and isconfirm = 0 and datasource = 4
            and enterprisebankaccount in
            <foreach item="item" index="index" collection="accounts" open="("
                     separator="," close=")">
                #{item}
            </foreach>
            <if test = "currency !=null">
                and currency = #{currency}
            </if>
        </where>

    </update>

    <update id="deleteByCheckTaskContainZhiLian" parameterType="java.util.HashMap" >
        delete  from  cmp_bankaccount_realtimebalance
        <where>
            balancedate &gt;= #{startDate}  and balancedate  &lt;= #{endDate}
            and isconfirm = 0 and (datasource = 4 or datasource = 6)
            and first_flag = '0'
            and enterprisebankaccount in
            <foreach item="item" index="index" collection="accounts" open="("
                     separator="," close=")">
                #{item}
            </foreach>
            <if test = "currency !=null">
                and currency = #{currency}
            </if>
        </where>

    </update>

</mapper>
