<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yonyoucloud.fi.cmp.mapper.CheckMapper">
    <resultMap id="BaseResultMap" type="com.yonyoucloud.fi.cmp.vo.checkstock.CheckDTO">
        <id column="id" property="id"/>
        <result column="check_bill_no" property="checkBillNo" jdbcType="VARCHAR"/>
        <result column="check_bill_dir" property="checkBillDir" jdbcType="VARCHAR"/>
        <result column="amount" property="amount"/>
        <result column="check_bill_status" property="checkBillStatus" jdbcType="VARCHAR"/>
        <result column="cash_date" property="cashDate"/>
        <result column="cash_type" property="cashType" jdbcType="VARCHAR"/>
        <result column="cash_person" property="cashPerson" jdbcType="VARCHAR"/>
        <result column="check_bill_type" property="checkBillType"/>
        <result column="check_book_no" property="checkBookNo"/>
        <result column="busi_date" property="busiDate"/>
        <result column="create_date" property="createDate"/>
        <result column="drawer_date" property="drawerDate"/>
        <result column="creatorId" property="creatorId"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="ytenant_id" property="ytenantId" jdbcType="VARCHAR"/>
    </resultMap>


    <update id="updateCheckPayTicket" parameterType="com.yonyoucloud.fi.cmp.vo.checkstock.CheckDTO">
        UPDATE cmp_check_stock
        <set>
            <if test='checkBillDir =="2"'>
                check_bill_status = #{checkBillStatus},
                amount = #{amount},
                drawer_date = #{drawerDate},
                drawer_name = #{drawerName},
                payee_name = #{payeeName},
                endorse_date = null,
                endorsee = null
            </if>
            <if test='checkBillDir =="1"'>
                endorsee = #{endorsee}
            </if>
        </set>
        <where>
            id = #{checkBillNo}
        </where>
    </update>

    <update id="checkCashingAndEndorsement" parameterType="com.yonyoucloud.fi.cmp.vo.checkstock.CheckDTO">
        UPDATE cmp_check_stock
        <set>
            check_bill_status = #{checkBillStatus},
            <if test="cashPerson != null">
                cash_person = #{cashPerson},
            </if>
            <if test="cashType != null">
                cash_type = #{cashType},
            </if>
            <if test='inputBillDirString =="2" and checkBillStatus == "7"'>
                cash_date = #{cashDate},
                checkpurpose = #{checkPurpose}
            </if>
            <if test='inputBillDirString =="2" and checkBillStatus == "5"'>
                drawer_date = #{drawerDate},
                checkpurpose = #{checkPurpose}
            </if>
            <if test='inputBillDirString =="1"'>
                cash_date = #{cashDate},
                checkpurpose = #{checkPurpose}
            </if>
        </set>
        <where>
            id = #{checkBillNo}
        </where>
    </update>

    <select id="queryCheckStocks" resultMap="BaseResultMap">
        select *
        from cmp_check_stock;
    </select>

    <select id="queryCheckStocksAfterInStock" resultMap="BaseResultMap">
        select *
        from cmp_check_stock where
        check_bill_status != 1;
    </select>

    <select id="queryCheckStocksCount" resultType="int">
        select count(*)
        from cmp_check_stock;
    </select>
    <select id="queryCheckStocksByPage" resultMap="BaseResultMap">
        SELECT *
        FROM cmp_check_stock
        order by id
        limit #{start}, #{pageSize}
    </select>
    <select id="queryCheckStocksAfterInStockCount" resultType="int">
        select count(*)
        from cmp_check_stock
        where check_bill_status != 1;
    </select>
    <select id="queryCheckStocksAfterInStockByPage" resultMap="BaseResultMap">
        SELECT *
        FROM cmp_check_stock
        where check_bill_status != 1
        order by id
        limit #{start}, #{pageSize}
    </select>
    <delete id="deleteStatusByBeforeStatus" >
       delete from cmp_check_status where before_check_bill_status = #{beforeCheckBillStatus}
    </delete>

    <insert id="batchInsertStatus">
        insert into cmp_check_status (id,accentity,after_check_bill_status,before_check_bill_status,check_bill_dir,check_bill_no,
        check_bill_type,check_id,
        operator,operator_date,operator_dept,tenant_id,ytenant_id)
        values
        <foreach collection="checkStatus" index="index" item="status" separator=",">
            (#{status.id},
            #{status.accentity},
            #{status.afterCheckBillStatus},
            #{status.beforeCheckBillStatus},
            #{status.checkBillDir},
            #{status.checkBillNo},
            #{status.checkBillType},
            #{status.checkId},
            #{status.operator},
            #{status.operatorDate},
            #{status.operatorDept},
            #{status.tenantId},
            #{status.ytenantId}
            )
        </foreach>
    </insert>

    <insert id="batchInsertStatusWithPubts">
        insert into cmp_check_status (id,accentity,after_check_bill_status,before_check_bill_status,check_bill_dir,check_bill_no,
        check_bill_type,check_id,
        operator,operator_date,operator_dept,tenant_id,ytenant_id,pubts)
        values
        <foreach collection="checkStatus" index="index" item="status" separator=",">
            (#{status.id},
            #{status.accentity},
            #{status.afterCheckBillStatus},
            #{status.beforeCheckBillStatus},
            #{status.checkBillDir},
            #{status.checkBillNo},
            #{status.checkBillType},
            #{status.checkId},
            #{status.operator},
            #{status.operatorDate},
            #{status.operatorDept},
            #{status.tenantId},
            #{status.ytenantId},
            #{status.pubts}
            )
        </foreach>
    </insert>

    <select id="selectStatusByBeforeStatus" resultType="int">
        select count(*) from cmp_check_status where before_check_bill_status = #{beforeCheckBillStatus}
    </select>
    <select id="queryBillStatusByCancelSettle"  parameterType="map" resultType="String">
        select after_check_bill_status from cmp_check_status where check_id =#{checkId} and after_check_bill_status in (1,13) order by pubts desc limit 1;
    </select>
</mapper>
