<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yonyoucloud.fi.cmp.mapper.CheckInventoryMapper">
    <resultMap id="BaseResultMap" type="com.yonyoucloud.fi.cmp.vo.checkstock.CheckInventoryDTO">
        <result column="creatorId" property="creatorId"/>
        <result column="create_date" property="createDate"/>
    </resultMap>
    <select id="queryCheckInventoryByCheckId" resultMap="BaseResultMap">
        select cmp_check_inventory.*
        from cmp_check_inventory
        join cmp_check_inventory_b on cmp_check_inventory.id = cmp_check_inventory_b.mainid
        where
        1=1
        <if test="checkBillNo != null">
            and cmp_check_inventory_b.check_bill_no = #{checkBillNo}
        </if>
        and cmp_check_inventory_b.checkid like concat('%', #{checkId}, '%') order by cmp_check_inventory_b.pubts desc
        limit 1
    </select>
</mapper>
