<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yonyoucloud.fi.cmp.mapper.CmpNewFiMigradeMapper">

    <delete id="delMigradeJournal" parameterType="java.util.HashMap">
        delete from cmp_journal
        <where>
            ytenant_id = #{ytenantId}
            and srcbillitemid in
            (select id from ${dbschema_table} where ytenant_id = #{ytenantId} and srcitem = '8' and auditstatus!='1'
            union
            select id from ${dbschema_table} where ytenant_id = #{ytenantId} and srcitem = '8' and auditstatus='1' and settlestatus!='2'
            union
            select id from ${dbschema_table} where ytenant_id = #{ytenantId} and srcitem = '6' and auditstatus!='1'
            union
            select id from ${dbschema_table} where ytenant_id = #{ytenantId} and srcitem = '6' and auditstatus='1' and settlestatus!='2' )
        </where>
    </delete>

    <select id="getJournalSum" parameterType = "java.util.HashMap" resultType="java.util.HashMap">
        select  sum(creditoriSum) creditoriSum,sum(debitoriSum) debitoriSum,sum(creditnatSum) creditnatSum,sum(debitnatSum)debitnatSum,bankaccount,cashaccount,currency,accentity
        from  cmp_journal
        where
        ytenant_id = #{ytenantId}
        and srcbillitemid in
        (select id from ${dbschema_table} where ytenant_id = #{ytenantId} and srcitem = '8' and auditstatus!='1'
        union
        select id from ${dbschema_table} where ytenant_id = #{ytenantId} and srcitem = '8' and auditstatus='1' and settlestatus!='2'
        union
        select id from ${dbschema_table} where ytenant_id = #{ytenantId} and srcitem = '6' and auditstatus!='1'
        union
        select id from ${dbschema_table} where ytenant_id = #{ytenantId} and srcitem = '6' and auditstatus='1' and settlestatus!='2')
        GROUP BY bankaccount,cashaccount,currency,accentity
    </select>




</mapper>
