<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yonyoucloud.fi.cmp.mapper.DailyComputezInitMapper">

    <!-- 模拟日结相关计算sql 修正昨日今日余额-->
    <select id="getJournalListForRevise" parameterType = "java.util.HashMap" resultType="java.util.HashMap">
        select  sum(creditoriSum) creditoriSum,sum(debitoriSum) debitoriSum,sum(creditnatSum) creditnatSum,sum(debitnatSum)debitnatSum,bankaccount,cashaccount,currency
        <if test = "parentAccentity !=null">
            ,parentAccentity
        </if>
        <if test = "useAccentity !=null">
            ,accentity
        </if>
        from  cmp_journal
        where
            ytenant_id = #{ytenantId}
        <if test = "parentAccentity !=null">
            and parentAccentity = #{parentAccentity}
        </if>
        <if test = "useAccentity !=null">
            and accentity = #{useAccentity}
        </if>
        <if test = "cashaccounts !=null">
            and cashaccount in
            <foreach item="item" index="index" collection="cashaccounts" open="("
                     separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test = "bankaccounts !=null">
            and bankaccount in
            <foreach item="item" index="index" collection="bankaccounts" open="("
                     separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test = "currencys !=null">
            and currency in
            <foreach item="item" index="index" collection="currencys" open="("
                     separator="," close=")">
                #{item}
            </foreach>
        </if>
        and settlestatus = 1
        and initflag = 0
        <if test = "auditstatus !=null and auditstatus == 2">
            and auditstatus = 1
        </if>
        <if test = "maxDateSettlement !=null">
            and ((dzdate is null and vouchdate &lt;= #{maxDateSettlement}) or dzdate &lt;= #{maxDateSettlement})
        </if>
        <if test = "maxDateSettlement ==null and endDate!=null">
            and ((dzdate is null and vouchdate &lt;= #{endDate}) or dzdate &lt;= #{endDate})
        </if>
        GROUP BY bankaccount,cashaccount,currency
        <if test = "parentAccentity !=null">
            ,parentAccentity
        </if>
        <if test = "useAccentity !=null">
            ,accentity
        </if>
    </select>


    <!-- 模拟日结相关计算sql 进行余额计算-->
    <select id="getJournalListForCount" parameterType = "java.util.HashMap" resultType="java.util.HashMap">
        select  sum(creditoriSum) creditoriSum,sum(debitoriSum) debitoriSum,sum(creditnatSum) creditnatSum,sum(debitnatSum)debitnatSum,bankaccount,cashaccount,currency
        <if test = "parentAccentity !=null">
            ,parentAccentity
        </if>
        ,accentity
        from  cmp_journal
        where
        ytenant_id = #{ytenantId}
        <if test = "parentAccentity !=null">
            and parentAccentity = #{parentAccentity}
        </if>
        <if test = "useAccentity !=null">
            and accentity = #{useAccentity}
        </if>
        <if test = "cashaccounts !=null and bankaccounts == null">
            and cashaccount in
            <foreach item="item" index="index" collection="cashaccounts" open="("
                     separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test = "bankaccounts !=null and cashaccounts == null">
            and bankaccount in
            <foreach item="item" index="index" collection="bankaccounts" open="("
                     separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test = "bankaccounts !=null and cashaccounts != null">
            and (bankaccount in
            <foreach item="item" index="index" collection="bankaccounts" open="("
                     separator="," close=")">
                #{item}
            </foreach>
            or cashaccount in
            <foreach item="item" index="index" collection="cashaccounts" open="("
                     separator="," close=")">
                #{item}
            </foreach>)
        </if>
        <if test = "currencys !=null">
            and currency in
            <foreach item="item" index="index" collection="currencys" open="("
                     separator="," close=")">
                #{item}
            </foreach>
        </if>
        and initflag = 0
        <if test = "maxDateSettlement !=null">
            and ((dzdate is null and vouchdate &gt;= #{maxDateSettlement}) or dzdate &gt;= #{maxDateSettlement})
        </if>
        <if test = "endDate !=null and auditstatus !=null and auditstatus==2 and settlestatus !=null and settlestatus==2">
            and  dzdate &lt;= CAST(#{endDate} AS DATE)
        </if>
        <if test = "endDate !=null and auditstatus !=null and auditstatus==1 and settlestatus !=null and settlestatus==1">
            and  vouchdate &lt;= CAST(#{endDate} AS DATE)
        </if>
        <if test = "endDate !=null and auditstatus !=null and auditstatus==2 and settlestatus !=null and settlestatus==1">
            and  vouchdate &lt;= CAST(#{endDate} AS DATE)
        </if>
        <if test = "auditstatus !=null and auditstatus==2">
            and auditstatus=1
        </if>
        <if test = "settlestatus !=null and settlestatus==2">
            and settlestatus=2
        </if>

        GROUP BY bankaccount,cashaccount,currency
        <if test = "parentAccentity !=null">
            ,parentAccentity
        </if>
            ,accentity
    </select>

    <!-- 模拟日结相关计算sql 进行余额计算-->
    <select id="getJournalListForCountNew" parameterType = "java.util.HashMap" resultType="java.util.HashMap">
        select  sum(creditoriSum) creditoriSum,sum(debitoriSum) debitoriSum,sum(creditnatSum) creditnatSum,sum(debitnatSum)debitnatSum,bankaccount,cashaccount,currency
        ,accentity_raw
        from  cmp_journal
        where
        ytenant_id = #{ytenantId}
        <if test = "useAccentity !=null">
            and accentity_raw = #{useAccentity}
        </if>
        <if test = "cashaccounts !=null">
            and cashaccount in
            <foreach item="item" index="index" collection="cashaccounts" open="("
                     separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test = "bankaccounts !=null">
            and bankaccount in
            <foreach item="item" index="index" collection="bankaccounts" open="("
                     separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test = "currencys !=null">
            and currency in
            <foreach item="item" index="index" collection="currencys" open="("
                     separator="," close=")">
                #{item}
            </foreach>
        </if>
        and initflag = 0
        <if test = "endDate !=null">
            and  dzdate &lt;= CAST(#{endDate} AS DATE)
        </if>
        <if test = "auditstatus !=null and auditstatus==2">
            and auditstatus=1
        </if>
        <if test = "settlestatus !=null and settlestatus==2">
            and settlestatus=2
        </if>
        GROUP BY bankaccount,cashaccount,currency
        ,accentity_raw
    </select>

    <!-- 日结相关计算sql 进行余额计算-->
    <select id="getJournalListForCurrentday" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        select sum(creditoriSum) creditoriSum,sum(debitoriSum) debitoriSum,sum(creditnatSum)
        creditnatSum,sum(debitnatSum)debitnatSum,bankaccount,cashaccount,currency,count(direction) as
        description
        <if test="parentAccentity !=null">
            ,parentAccentity
        </if>
        <if test="useAccentity !=null">
            ,accentity
        </if>
        from cmp_journal
        where
        ytenant_id = #{ytenantId}
        <if test="parentAccentity !=null">
            and parentAccentity = #{parentAccentity}
        </if>
        <if test="useAccentity !=null">
            and accentity = #{useAccentity}
        </if>
        <if test="cashaccounts !=null">
            and cashaccount in
            <foreach item="item" index="index" collection="cashaccounts" open="("
                     separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="bankaccounts !=null">
            and bankaccount in
            <foreach item="item" index="index" collection="bankaccounts" open="("
                     separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="currencys !=null">
            and currency in
            <foreach item="item" index="index" collection="currencys" open="("
                     separator="," close=")">
                #{item}
            </foreach>
        </if>
        and initflag = 0
        <if test="maxDateSettlement !=null">
            and ((dzdate is null and vouchdate &gt;= #{maxDateSettlement}) or dzdate &gt;= #{maxDateSettlement})
        </if>
        <if test="auditstatus !=null and auditstatus==2">
            and auditstatus=1
        </if>
        <if test="settlestatus !=null and settlestatus==2">
            and settlestatus=2
        </if>

        GROUP BY bankaccount,cashaccount,currency,direction
        <if test="parentAccentity !=null">
            ,parentAccentity
        </if>
        <if test="useAccentity !=null">
            ,accentity
        </if>
    </select>

    <!-- 日结今日 进行余额计算-->
    <select id="getSumForCurrentday" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        select sum(creditoriSum) creditoriSum,sum(debitoriSum) debitoriSum,sum(creditnatSum)
        creditnatSum,sum(debitnatSum)debitnatSum,bankaccount,cashaccount,currency,direction,count(direction) as
        description
        <if test="parentAccentity !=null">
            ,parentAccentity
        </if>
        <if test="useAccentity !=null">
            ,accentity
        </if>
        from cmp_journal
        where
        ytenant_id = #{ytenantId}
        <if test="parentAccentity !=null">
            and parentAccentity = #{parentAccentity}
        </if>
        <if test="useAccentity !=null">
            and accentity = #{useAccentity}
        </if>
        <if test="cashaccounts !=null">
            and cashaccount in
            <foreach item="item" index="index" collection="cashaccounts" open="("
                     separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="bankaccounts !=null">
            and bankaccount in
            <foreach item="item" index="index" collection="bankaccounts" open="("
                     separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="currencys !=null">
            and currency in
            <foreach item="item" index="index" collection="currencys" open="("
                     separator="," close=")">
                #{item}
            </foreach>
        </if>
        and initflag = 0
        <if test="maxDateSettlement !=null">
            and ((dzdate is null and vouchdate = #{maxDateSettlement}) or dzdate = #{maxDateSettlement})
        </if>
        <if test="auditstatus !=null and auditstatus==2">
            and auditstatus=1
        </if>
        <if test="settlestatus !=null and settlestatus==2">
            and settlestatus=2
        </if>

        GROUP BY bankaccount,cashaccount,currency,direction
        <if test="parentAccentity !=null">
            ,parentAccentity
        </if>
        <if test="useAccentity !=null">
            ,accentity
        </if>
    </select>

    <!-- 日结昨日 进行余额计算-->
    <select id="getSumForYesterday" parameterType = "java.util.HashMap" resultType="java.util.HashMap">
        select  sum(creditoriSum) creditoriSum,sum(debitoriSum) debitoriSum,sum(creditnatSum) creditnatSum,sum(debitnatSum)debitnatSum,bankaccount,cashaccount,currency
        <if test = "parentAccentity !=null">
            ,parentAccentity
        </if>
        <if test = "useAccentity !=null">
            ,accentity
        </if>
        from  cmp_journal
        where
        ytenant_id = #{ytenantId}
        <if test = "parentAccentity !=null">
            and parentAccentity = #{parentAccentity}
        </if>
        <if test = "useAccentity !=null">
            and accentity = #{useAccentity}
        </if>
        <if test = "cashaccounts !=null">
            and cashaccount in
            <foreach item="item" index="index" collection="cashaccounts" open="("
                     separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test = "bankaccounts !=null">
            and bankaccount in
            <foreach item="item" index="index" collection="bankaccounts" open="("
                     separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test = "currencys !=null">
            and currency in
            <foreach item="item" index="index" collection="currencys" open="("
                     separator="," close=")">
                #{item}
            </foreach>
        </if>
        and initflag = 0
        <if test = "maxDateSettlement !=null">
            and ((dzdate is null and  vouchdate &lt; #{maxDateSettlement}) or dzdate &lt; #{maxDateSettlement})
        </if>
        <if test = "auditstatus !=null and auditstatus==2">
            and auditstatus=1
        </if>
        <if test = "settlestatus !=null and settlestatus==2">
            and settlestatus=2
        </if>

        GROUP BY bankaccount,cashaccount,currency
        <if test = "parentAccentity !=null">
            ,parentAccentity
        </if>
        <if test = "useAccentity !=null">
            ,accentity
        </if>
    </select>

    <!-- 日记账分页 期初重算-->
    <select id="getJournalReInitData" parameterType = "java.util.HashMap" resultType="java.util.HashMap">
        select sum(lucy.debitnatSum) as debitnatSum,sum(lucy.debitoriSum) as debitoriSum,sum(lucy.creditnatSum) as creditnatSum,sum(lucy.creditoriSum) as creditoriSum
        from
           (select debitnatSum,debitoriSum,creditnatSum,creditoriSum
            from cmp_journal
            where ytenant_id = #{ytenantId}
                and  initflag = 0
            <if test = "parentAccentity !=null">
                and parentAccentity = #{parentAccentity}
            </if>
            <if test = "useAccentity !=null">
                and accentity = #{useAccentity}
            </if>
            <if test = "cashaccount !=null">
                and cashaccount = #{cashaccount}
            </if>
            <if test = "bankaccount !=null">
                and bankaccount = #{bankaccount}
            </if>
            <if test = "currency !=null">
                and currency = #{currency}
            </if>
            <if test = "billDateStart!=null and billDateEnd!=null">
                and vouchdate &gt;= #{billDateStart} and vouchdate &lt;= #{billDateEnd}
            </if>
            <if test = "dzstartdate!=null and dzenddate!=null">
                and dzdate &gt;= #{dzstartdate} and dzdate &lt;= #{dzenddate}
            </if>
            <if test = "auditstatus !=null and auditstatus==2">
                and auditstatus=1
            </if>
            <if test = "settlestatus !=null and settlestatus==2">
                and settlestatus=2
            </if>
            <if test = "customer !=null">
                and customer in
                <foreach item="item" index="index" collection="customer" open="("
                         separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test = "supplier !=null">
                and supplier in
                <foreach item="item" index="index" collection="supplier" open="("
                         separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test = "employee !=null">
                and employee in
                <foreach item="item" index="index" collection="employee" open="("
                         separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test = "dept !=null">
                and dept in
                <foreach item="item" index="index" collection="dept" open="("
                         separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test = "project !=null">
                and project in
                <foreach item="item" index="index" collection="project" open="("
                         separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test = "topsrcitem !=null">
                and topsrcitem in
                <foreach item="item" index="index" collection="topsrcitem" open="("
                         separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test = "topbilltype !=null">
                and topbilltype in
                <foreach item="item" index="index" collection="topbilltype" open="("
                         separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test = "dzorder !=null and dzorder==false">
                order by vouchdate,
                <if test = "journalBalanceSortRule != null and journalBalanceSortRule == 1">
                    ISNULL(rptype),rptype,
                </if>
                id asc limit #{limit}) lucy
            </if>
            <if test = "dzorder !=null and dzorder==true">
                order by ISNULL(dzdate),dzdate,
                <if test = "journalBalanceSortRule == null or journalBalanceSortRule == 0">
                    ISNULL(dztime),dztime,
                </if>
                <if test = "journalBalanceSortRule != null and journalBalanceSortRule == 1">
                    ISNULL(rptype),rptype,ISNULL(dztime),dztime,
                </if>
                id limit #{limit}) lucy
            </if>

    </select>

    <!-- 日记账分页 按登账日期排序-->
    <select id="getJournalOrderByDzData" parameterType = "java.util.HashMap" resultType="java.util.HashMap">
        select *
        from cmp_journal
        where ytenant_id = #{ytenantId}
            and initflag = 0
        <if test = "parentAccentity !=null">
            and parentAccentity = #{parentAccentity}
        </if>
        <if test = "useAccentity !=null">
            and accentity = #{useAccentity}
        </if>
        <if test = "cashaccount !=null">
            and cashaccount = #{cashaccount}
        </if>
        <if test = "bankaccount !=null">
            and bankaccount = #{bankaccount}
        </if>
        <if test = "currency !=null">
            and currency = #{currency}
        </if>
        <if test = "billDateStart!=null">
            and vouchdate &gt;= #{billDateStart}
        </if>
        <if test = "dzstartdate!=null">
            and dzdate &gt;= #{dzstartdate}
        </if>
        <if test = "billDateEnd!=null">
            and vouchdate &lt;= #{billDateEnd}
        </if>
        <if test = "dzenddate!=null">
            and dzdate &lt;= #{dzenddate}
        </if>
        <if test = "auditstatus !=null and auditstatus==2">
            and auditstatus=1
        </if>
        <if test = "settlestatus !=null and settlestatus==2">
            and settlestatus=2
        </if>
        <if test = "customer !=null">
            and customer in
            <foreach item="item" index="index" collection="customer" open="("
                     separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test = "supplier !=null">
            and supplier in
            <foreach item="item" index="index" collection="supplier" open="("
                     separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test = "employee !=null">
            and employee in
            <foreach item="item" index="index" collection="employee" open="("
                     separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test = "dept !=null">
            and dept in
            <foreach item="item" index="index" collection="dept" open="("
                     separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test = "project !=null">
            and project in
            <foreach item="item" index="index" collection="project" open="("
                     separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test = "topsrcitem !=null">
            and topsrcitem in
            <foreach item="item" index="index" collection="topsrcitem" open="("
                     separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test = "topbilltype !=null">
            and topbilltype in
            <foreach item="item" index="index" collection="topbilltype" open="("
                     separator="," close=")">
                #{item}
            </foreach>
        </if>
        order by accentity,ISNULL(dzdate),dzdate,
        <if test = "journalBalanceSortRule == null or journalBalanceSortRule == 0">
            ISNULL(dztime),dztime,
        </if>
        <if test = "journalBalanceSortRule != null and journalBalanceSortRule == 1">
            ISNULL(rptype),rptype,ISNULL(dztime),dztime,
        </if>
        id
        limit #{startIndex},#{paperSize}
    </select>

    <select id="getJournalIdOrderByDzData" parameterType = "java.util.HashMap" resultType="java.util.HashMap">
        select id
        from cmp_journal
        where ytenant_id = #{ytenantId}
        and initflag = 0
        <if test = "parentAccentity !=null">
            and parentAccentity = #{parentAccentity}
        </if>
        <if test = "useAccentity !=null">
            and accentity = #{useAccentity}
        </if>
        <if test = "cashaccount !=null">
            and cashaccount = #{cashaccount}
        </if>
        <if test = "bankaccount !=null">
            and bankaccount = #{bankaccount}
        </if>
        <if test = "currency !=null">
            and currency = #{currency}
        </if>
        <if test = "billDateStart!=null and billDateEnd!=null">
            and vouchdate &gt;= #{billDateStart} and vouchdate &lt;= #{billDateEnd}
        </if>
        <if test = "dzstartdate!=null and dzenddate!=null">
            and dzdate &gt;= #{dzstartdate} and dzdate &lt;= #{dzenddate}
        </if>
        <if test = "auditstatus !=null and auditstatus==2">
            and auditstatus=1
        </if>
        <if test = "settlestatus !=null and settlestatus==2">
            and settlestatus=2
        </if>
        <if test = "customer !=null">
            and customer in
            <foreach item="item" index="index" collection="customer" open="("
                     separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test = "supplier !=null">
            and supplier in
            <foreach item="item" index="index" collection="supplier" open="("
                     separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test = "employee !=null">
            and employee in
            <foreach item="item" index="index" collection="employee" open="("
                     separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test = "dept !=null">
            and dept in
            <foreach item="item" index="index" collection="dept" open="("
                     separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test = "project !=null">
            and project in
            <foreach item="item" index="index" collection="project" open="("
                     separator="," close=")">
                #{item}
            </foreach>
        </if>
        order by accentity,ISNULL(dzdate),dzdate,
        <if test = "journalBalanceSortRule == null or journalBalanceSortRule == 0">
            ISNULL(dztime),dztime,
        </if>
        <if test = "journalBalanceSortRule != null and journalBalanceSortRule == 1">
            ISNULL(rptype),rptype,ISNULL(dztime),dztime,
        </if>
        id
    </select>

    <select id="getInitList" parameterType = "java.util.HashMap" resultType="java.util.HashMap">
        select  sum(coinitloribalance) coinitloribalance,sum(coinitlocalbalance) coinitlocalbalance,bankaccount,cashaccount,currency,accentity_raw
        from  cmp_initdata
        where
        ytenant_id = #{ytenantId}
        and accentity is not null
        and upgradesign in (2,3)
        <if test = "accentityRaw !=null">
            and accentity_raw = #{accentityRaw}
        </if>
        <if test = "cashaccounts !=null">
            and cashaccount in
            <foreach item="item" index="index" collection="cashaccounts" open="("
                     separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test = "bankaccounts !=null">
            and bankaccount in
            <foreach item="item" index="index" collection="bankaccounts" open="("
                     separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test = "currencys !=null">
            and currency in
            <foreach item="item" index="index" collection="currencys" open="("
                     separator="," close=")">
                #{item}
            </foreach>
        </if>
        GROUP BY bankaccount,cashaccount,currency,accentity_raw
    </select>


</mapper>
