<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀)
 -->
<mapper namespace="com.yonyoucloud.fi.cmp.export.ExportMapper">
    <resultMap id="BaseResultMap" type="com.yonyoucloud.fi.cmp.export.CmpExportMap" >
        <result column="id" property="id" />
        <result column="type" property="type" />
        <result column="sourece_entityname" property="soureceEntityname" />
        <result column="billno" property="billno" />
        <result column="source_entityattr_factors" property="sourceEntityattrFactors" />
        <result column="eval_handler" property="evalHandler" />
        <result column="target_name" property="targetName" />
        <result column="target_type" property="targetType" />
        <result column="is_open" property="isOpen" />
        <result column="numpoint" property="numpoint" />
        <result column="is_rounding" property="isRounding" />
        <result column="extra1" property="extra1" />
        <result column="extra2" property="extra2" />
        <result column="extra3" property="extra3" />
        <result column="tenant_id" property="tenantId" />
        <result column="sort" property="sort" />
    </resultMap>

    <sql id="Base_Column_List">
        id,
        type,
        sourece_entityname,
        billno,
        source_entityattr_factors,
        eval_handler,
        target_name,
        target_type,
        is_open,
        numpoint,
        is_rounding,
        extra1,
        extra2,
        extra3,
        tenant_id,
        sort
    </sql>

    <select id="getCmpexportMap" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM cmp_export_map
        WHERE billno = #{billno}
        and type=#{type}
        and is_open=#{isOpen}
        AND tenant_id =#{tenantId}
        order by sort asc;
    </select>


</mapper>