<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yonyoucloud.fi.cmp.mapper.FaFiEventReconcMapper">

    <!-- 总账对账计算汇总数据sql-->
    <select id="getJournalListSum" parameterType = "java.util.HashMap" resultType="com.yonyoucloud.fi.cmp.journal.Journal">
        select  sum(creditoriSum) creditoriSum,sum(debitoriSum) debitoriSum,sum(creditnatSum) creditnatSum,sum(debitnatSum) debitnatSum,bankaccount,cashaccount,currency,accentity_raw
        from  cmp_journal
        where
        ytenant_id = #{ytenant_id}
        and initflag = 0
        and settlestatus = 2
        <if test = "period_start_date !=null and period_end_date !=null">
              and  dzdate &gt;= CAST(#{period_start_date} AS DATE)
              and  dzdate &lt;= CAST(#{period_end_date} AS DATE)
        </if>
        <if test = "currency !=null">
            and  currency = #{currency}
        </if>
        <if test = "busi_queryschema !=null">
            and  ${busi_queryschema}
        </if>
        <if test = "fixed_cond !=null">
            and  #{fixed_cond}
        </if>
        <if test = "accentity_id !=null">
            and   accentity_raw = #{accentity_id}
        </if>
        <if test = "project_code == 'CTMCMP001'">
            and  bankaccount is not null
        </if>
        <if test = "project_code == 'CTMCMP002'">
            and  cashaccount is not null
        </if>
        GROUP BY currency,bankaccount,cashaccount,accentity_raw
    </select>


    <!-- 总账对账  将汇总数据插入对应dbschema-->
    <insert id="insertFaFiEventReconc" parameterType="map">
        INSERT INTO ${dbschema_table} (id,reconcplan_id,task_id,rule_id,accbook_id,period_id,accentity_id,ori_currtype_id,debit_ori_amount,debit_amount, credit_ori_amount, credit_amount, debit_num,credit_num,bill_type,ytenant_id,dr,subject_chart_id,subject_id,define1,period_begin_ori_amount,period_begin_amount,period_end_ori_amount,period_end_amount)
        VALUES (#{id}, #{reconcplan_id},#{task_id},#{reconcrule_id} ,#{accbook_id}, #{period_id},#{accentity_id},#{currency},#{debitoriSum},#{debitnatSum},#{creditoriSum},#{creditnatSum},null,null,'CM',#{ytenant_id},0,#{subject_chart_id},#{subject_id},#{define1},#{period_begin_ori_amount},#{period_begin_amount},#{period_end_ori_amount},#{period_end_amount});
    </insert>


</mapper>
