<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀)
 -->
<mapper namespace="com.yonyoucloud.fi.cmp.flowhandlesetting.mapper.FlowhandlesettingMapper">
    <select id="queryInitData" resultType="java.lang.Long" parameterType="java.util.Map">
        select count(1) from cmp_flow_handle_setting where code in ('system0101','system0102','system0103','system0104','system0201', 'system0202','system0301','system0302','system0303','system0304','system0401','system0402') and is_system=1 and ytenant_id = #{ytenantId}
    </select>
    <delete id="deleteInitMainData">
        delete from cmp_flow_handle_setting where code in ('system0101','system0102','system0103','system0104','system0201', 'system0202','system0301','system0302','system0303','system0304','system0401','system0402') and is_system=1
    </delete>
    <delete id="deleteInitSubData">
        delete from cmp_fhs_publish_range where mainid in (select id from cmp_flow_handle_setting where code='system0401' and `is_system`= 1)
    </delete>
    <insert id="initFlowHandleMainData01" parameterType="java.util.Map">
        INSERT INTO `cmp_flow_handle_setting` (`id`,`association_bill_range`, `association_mode`, `code`, `enable`, `flow_type`, `is_arti_confirm`, `is_random_auto_confirm`, `is_system`, `is_termination_flow`, `msg_type`, `name`, `name2`,`name3`,`name4`,`name5`,`name6`, `object`, `org`, `pubts`, `remark`, `send_msg`, `sort_num`, `tenant_id`, `ytenant_id`)
        values
        (#{id03},NULL,1, 'system0103', '1', 1, 2, 0, 1, 1, '1,2', '银行流水关联收付单据自动处理流程', 'Automatic processing flow of collection and payment documents associated with bank flow','銀行流水關聯收付單據自動處理流程',NULL,NULL,NULL, 1, '666666',  #{pubts}, NULL, 0, 1, #{tenantId}, #{ytenantId})
    </insert>
    <insert id="initFlowHandleMainData02" parameterType="java.util.Map">
        INSERT INTO `cmp_flow_handle_setting` (`id`,`association_credential_mode`, `association_credential_range`, `code`, `enable`, `flow_type`, `is_random_auto_confirm`, `is_system`, `is_termination_flow`, `msg_type`, `name`, `name2`,`name3`,`name4`,`name5`,`name6`, `object`, `org`, `publish_mode`, `publish_range`, `pubts`, `send_msg`, `sort_num`,`receipt_rel_ishandle`, `tenant_id`, `ytenant_id`)
        values
        (#{id05},2, 2, 'system0201', '1',2, NULL, 1, 1, '1,2', '银行流水关联业务凭据手工处理流程', 'Manual processing flow of bank flow association business credentials','銀行流水關聯業務憑據手工處理流程',NULL,NULL,NULL, 1, '666666', NULL, NULL, #{pubts}, 1, 1, 0, #{tenantId}, #{ytenantId}),
        (#{id06},2, 2, 'system0202', '1', 2, NULL, 1, 1,'1,2', '认领单关联业务凭据手工处理流程', 'Manual Processing Process of Business Credentials Associated with Claim Form','認領單關聯業務憑據手工處理流程',NULL,NULL,NULL, 2, '666666', NULL, NULL, #{pubts}, 1, 1, 0, #{tenantId}, #{ytenantId});
    </insert>
    <insert id="initFlowHandleMainData03" parameterType="java.util.Map">
        INSERT INTO `cmp_flow_handle_setting` (`id`,`code`, `create_bill_mode`, `create_bill_range`,`enable`, `flow_type`, `is_arti_confirm`, `is_random_auto_confirm`, `is_system`, `is_termination_flow`, `msg_type`, `name`, `name2`,`name3`,`name4`,`name5`,`name6`, `object`, `org`,`pubts`, `send_msg`, `sort_num`, `tenant_id`, `ytenant_id`)
        values
        (#{id07},'system0301', 2, 2, '1', 3, NULL, NULL, 1, 1,'1,2', '银行流水手工生单处理流程', 'Bank flow manual order generation processing flow','銀行流水手工生單處理流程',NULL,NULL,NULL, 1, '666666', #{pubts}, 1, 2, #{tenantId}, #{ytenantId}),
        (#{id08},'system0302', 2, 2, '1', 3, NULL, NULL, 1, 1, '1,2', '认领手工生单处理流程', 'Processing flow of claiming manual order generation','認領手工生單處理流程',NULL,NULL,NULL, 2, '666666', #{pubts}, 1, 2, #{tenantId}, #{ytenantId}),
        (#{id09},'system0303', 1, 1, '1', 3, 1, NULL, 1, 1, '1,2', '银行流水自动生单处理流程', 'Bank flow automatic order generation processing flow','銀行流水自動生單處理流程',NULL,NULL,NULL, 1, '666666',  #{pubts}, 1, 1, #{tenantId}, #{ytenantId}),
        (#{id010},'system0304', 1, 1, '1', 3, 1, NULL, 1, 1, '1,2', '认领单自动生单处理流程', 'Automatic Order Generation Process Flow of Claim Form','認領單自動生單處理流程',NULL,NULL,NULL, 2, '666666',  #{pubts}, 1, 1, #{tenantId}, #{ytenantId});
    </insert>
    <insert id="initFlowHandleMainData04" parameterType="java.util.Map">
        INSERT INTO `cmp_flow_handle_setting` (`id`,`code`,`enable`, `flow_type`,`is_system`, `is_termination_flow`, `msg_type`, `name`, `name2`,`name3`,`name4`,`name5`,`name6`, `object`, `org`, `publish_mode`, `publish_range`, `pubts`, `remark`, `send_msg`, `sort_num`, `tenant_id`, `ytenant_id`)
        values
        (#{id011},'system0401', '1', 4, 1, 1, '2', '银行流水手工发布处理流程', 'Bank Flow Manual Publishing Process','銀行流水手工發布處理流程',NULL,NULL,NULL, 1, '666666', 2, 1, #{pubts}, NULL, 1, 2, #{tenantId}, #{ytenantId}),
        (#{id012},'system0402', '1', 4, 1, 1, '2', '银行流水自动发布处理流程', 'Bank flow automatic release processing flow','銀行流水自動發布處理流程',NULL,NULL,NULL, 1, '666666', 1, 2, #{pubts}, NULL, 1, 2, #{tenantId}, #{ytenantId});
    </insert>
    <insert id="initFlowHandleSubData" parameterType="java.util.Map">
        INSERT INTO `cmp_fhs_publish_range` (`id`,`mainid`, `publish_object`, `publish_object_type`, `pubts`, `tenant_id`, `ytenant_id`) values
        (#{id013},#{id011} ,NULL, '1', #{pubts}, #{tenantId}, #{ytenantId})
    </insert>
</mapper>