<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yonyoucloud.fi.cmp.mapper.JournalMapper">

    <update id="updateCheckno" parameterType="com.yonyoucloud.fi.cmp.common.CommonQueryData">
        update cmp_journal
        <set>
            checkno = #{checkno}
        </set>
        <where>
            id = (
            select max(temp.id) from (
            select id from cmp_journal
            <where>
                <!-- 有凭证唯一标志 且 不为0；这时按凭证唯一标志更新数据  -->
                <if test = "voucheronlyno != null and voucheronlyno != '' and voucheronlyno != 0 ">
                    voucheronlyno = #{voucheronlyno} and
                </if>
                <if test = "journalSum != null and journalSum != ''">
                    debitoriSum = #{journalSum} and
                </if>
                ytenant_id = #{ytenantId}
                and
                srcbillitemid = #{srcitmeid}
            </where>
            )
            temp
            )
        </where>
    </update>


    <update id="updateVoucher" parameterType="com.yonyoucloud.fi.cmp.common.CommonQueryData">
        update cmp_journal
        <set>
            voucherNo = #{voucherNo},
            voucherPeriod = #{voucherPeriod}
        </set>
        <where>
            id = (
            select max(temp.id) from (
            select id from cmp_journal
            <where>
                <!-- 有凭证唯一标志 且 不为0；这时按凭证唯一标志更新数据  -->
                <if test = "voucheronlyno != null and voucheronlyno != '' and voucheronlyno != 0 ">
                    voucheronlyno = #{voucheronlyno} and
                </if>
                <if test = "journalSum != null and journalSum != ''">
                    debitoriSum = #{journalSum} and
                </if>
                ytenant_id = #{ytenantId}
                and
                srcbillitemid = #{srcitmeid}

            </where>
            )
            temp
            )
        </where>
    </update>

    <!-- 根据来源单据行id查询日记账信息 -->
    <select id="selectBySrcbillitemid" parameterType="com.yonyoucloud.fi.cmp.common.CommonQueryData" resultType="com.yonyoucloud.fi.cmp.journal.Journal">
        select
          checkno,
          voucherNo,
          voucherPeriod
        from cmp_journal
        <where>
            id = (
            select max(temp.id) from (
            select id from cmp_journal
            <where>
                <!-- 有凭证唯一标志 且 不为0；这时按凭证唯一标志更新数据  -->
                <if test = "voucheronlyno != null and voucheronlyno != '' and voucheronlyno != 0 ">
                    voucheronlyno = #{voucheronlyno} and
                </if>
                <if test = "journalSum != null and journalSum != ''">
                    debitoriSum = #{journalSum} and
                </if>
                ytenant_id = #{ytenantId}
                and
                srcbillitemid = #{srcitmeid}
            </where>
            )
            temp
            )
        </where>
    </select>

</mapper>
