<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yonyoucloud.fi.cmp.mapper.PayMarginMapper">
    <select id="queryPayMarginByCurrentDate" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT DISTINCT
        b.CODE,
        a.expectedretrievaldate,
        b.accentity
        FROM
        cmp_paymargin a
        LEFT JOIN cmp_marginworkbench b ON a.marginvirtualaccount = b.id
        WHERE
        a.expectedretrievaldate between #{currentDate} and #{warnDate}
        AND b.marginbalance > 0
        AND a.tenant_id = #{tenantid}
        AND a.ytenant_id = #{ytenantid}
        AND b.tenant_id = #{tenantid}
        AND b.ytenant_id = #{ytenantid}
        <if test="accentityArr != null and accentityArr.length > 0">
            AND b.accentity IN
            <foreach collection="accentityArr" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>
</mapper>