<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yonyoucloud.fi.cmp.mapper.SettleMapper">

    <update id="batchUpdateSettle" parameterType="java.util.HashMap">
        update cmp_settlement
        <set>
            settleflag = false ,
            unsettleman = #{unsettleman},
            unsettledate =#{unsettledate}
        </set>
        <where>
            accentity = #{accentity} and
            tenant_id = #{tenant_id} and
            settlementdate &gt;= #{startDate} and settlementdate &lt;= #{endDate}
        </where>

    </update>

    <update id="batchUpdateSettleDetail" parameterType="java.util.HashMap">
        delete  from  cmp_settlement_detail
        <where>
            accentity = #{accentity} and
            tenant_id = #{tenant_id} and
            accountdate &gt;= #{startDate}  and accountdate  &lt;= #{endDate}
        </where>

    </update>

    <!-- 期初改造日结升级查询账户数据-->
    <select id="getSettleBankAccount" parameterType = "java.util.HashMap" resultType="java.util.HashMap">
        select id,accentity,currency,bankaccount,accountdate from cmp_settlement_detail where bankaccount is not null and accentity is not null
        <if test = "ytenantId !=null">
            and ytenant_id = #{ytenantId}
        </if>
        <if test = "accountdate !=null">
            and accountdate &gt;= #{accountdate}
        </if>
    </select>

    <delete id="delSettlementCheckResult" parameterType="java.util.HashMap">
        delete  from  cmp_settlementcheckresult
        <where>
            id in
            <foreach item="item" index="index" collection="ids" open="("
                     separator="," close=")">
                #{item,jdbcType=BIGINT}
            </foreach>
            and  ytenant_id = #{ytenant_id}
        </where>
    </delete>

    <delete id="delSettlementCheckResultb" parameterType="java.util.HashMap">
        delete  from  cmp_settlementcheckresult_b
        <where>
            mainid in
            <foreach item="item" index="index" collection="ids" open="("
                     separator="," close=")">
                #{item,jdbcType=BIGINT}
            </foreach>
            and  ytenant_id = #{ytenant_id}
        </where>
    </delete>

</mapper>
