<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yonyoucloud.fi.cmp.mapper.TransferAccountMapper">

    <update id="updatePayStatus" parameterType="java.util.HashMap">
        update cm_transfer_account
        <set>
            pubts = pubts,
            paystatus = #{paystatus}
        </set>
        <where>
            paystatus = #{item} and
            porderid = #{porderId}  and
            id = #{id} and tenant_id = #{tenant_id}
        </where>

    </update>

    <select id="getTransferAccountListOne" parameterType = "java.util.HashMap" resultType="java.util.HashMap">
        select * from cm_transfer_account
        <where>
            tenant_id = #{tenantid} and
            (isSettlement is null or isSettlement = 0)
            and
            (auditstatus = 2 or auditstatus = 3 or auditstatus = 4 or auditstatus = 5 or (auditstatus = 1 and (paystatus = 0  or paystatus = 1  or paystatus = 2  or paystatus = 5 or paystatus = 6)))
        </where>
    </select>

    <select id="getTransferAccountListTwo" parameterType = "java.util.HashMap" resultType="java.util.HashMap">
        select * from cm_transfer_account
        <where>
            tenant_id = #{tenantid} and
            isSettlement = 1 and
            (auditstatus = 2 or (auditstatus = 1 AND (settlestatus = 1 or settlestatus = 3 or (settlestatus = 8 and settleSuccessAmount = 0 and settleStopPayAmount = 0)))) limit 1
        </where>
    </select>

</mapper>
