<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yonyoucloud.fi.cmp.mapper.UpdateBankTypeMapper">

    <update id="updateRealtimebalanceBankType" parameterType="java.util.HashMap" >
        update cmp_bankaccount_realtimebalance a set a.banktype = (
            select b.bank as banktype from `${schema}`.org_fin_bankacct b
            where b.id = a.enterprisebankaccount
        ) where a.banktype is null;
    </update>

    <update id="updateBankreconciliationBankType" parameterType="java.util.HashMap">
        update cmp_bankreconciliation a set a.banktype = (
            select b.bank as banktype from `${schema}`.org_fin_bankacct b
            where b.id = a.bankaccount
        ) where a.banktype is null;
    </update>

    <update id="updateBankElectronicBankType" parameterType="java.util.HashMap" >
        update cmp_bankelectronicreceipt a set a.banktype = (
            select b.bank as banktype from `${schema}`.org_fin_bankacct b
            where b.id = a.enterprisebankaccount
        ) where a.banktype is null;
    </update>

    <update id="updateBankDealDetailBankType" parameterType="java.util.HashMap" >
        update cmp_bankdealdetail a set a.banktype = (
            select b.bank as banktype from `${schema}`.org_fin_bankacct b
            where b.id = a.enterprisebankaccount
        ) where a.banktype is null;
    </update>


</mapper>
